@model Pizza

@{
    ViewData["Title"] = "Pizza " + Model.Nome;
}

<h2 class="text-center">@Model.Nome</h2>

<table>
    <tbody>
        <tr>
            <th>ID</th>
            <td>@Model.Id</td>
        </tr>
        <tr>
            <th>Nome</th>
            <td>@Model.Nome</td>
        </tr>
        <tr>
            <th>Descrizione</th>
            <td>@Model.Descrizione</td>
        </tr>
        <tr>
            <th>Prezzo</th>
            <td>@Model.Prezzo €</td>
        </tr>
    </tbody>
</table>