@model Pizza[]

@{
    ViewData["Title"] = "Le Pizze";
    var pizzas = Model;
}

<h2 class="text-center">Le nostre Pizze</h2>
<div class="text-center">
    <button type="button" class="btn btn-primary mx-auto my-2" onclick="location.href='@Url.Action("Create", "Pizza")'">Aggiungi Pizza</button>
</div>


@if (pizzas.Length is 0)
{
    <p>Nessuna Pizza</p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Descrizione</th>
                <th>Prezzo</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pizza in pizzas)
            {
                <tr>
                    <td>@pizza.Id</td>
                    <td class="name">
                        <a href="@Url.Action("Detail", "Pizza", new { Id = pizza.Id })">@pizza.Nome</a>
                    </td>
                    <td>@pizza.Descrizione</td>
                    <td>@pizza.Prezzo €</td>
                </tr>
            }
        </tbody>
    </table>
}
